<%= turbo_stream_from "calendar" %>

<div class="w-full">
  <div class="flex justify-between items-center mb-8">
    <h1 class="font-bold text-4xl">Calendar</h1>
  </div>

  <div id="dates" class="min-w-full">
    <% @dates.each do |date| %>
      <%= render "date", date: date, meal: @meals[date] %>
    <% end %>
  </div>
</div>
