<div class="w-full">
  <div class="flex justify-between items-center mb-8">
    <h1 class="font-bold text-4xl">Meals</h1>
    <%= link_to 'New meal', new_meal_path, class: "button button--primary" %>
  </div>

  <div id="meals" class="min-w-full">
    <%= render @meals %>
  </div>
</div>
