<%= turbo_frame_tag calendar_date do %>
  <% if calendar_date.meal %>
    <%= render calendar_date.meal %>
  <% else %>
    <div class="flex items-center justify-between bg-white rounded-md shadow-md p-4 mb-6">
      <div>
        <p><%= calendar_date.date %></p>
        <p class="italic text-gray-700">Nothing Planned</p>
      </div>

      <%= link_to "Plan Meal", new_meal_path(date: calendar_date.date), class: "button" %>
    </div>
  <% end %>
<% end %>
